* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}

body {
    height: 100vh;
    margin-top: -3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    height: 25rem;
    width: 18rem;
    padding: 1rem;
    border: 2px solid #000;
    border-radius: 1rem;
    align-self: center;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;

    font-size: 2.8rem;
    font-family: 'Orbitron', sans-serif;
    height: 5rem;
    border: 1px solid rgb(137, 135, 224);
}

.buttons {
    font-size: 5rem;
    margin-top: 1.4rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.numbers-grid {
    display: grid;
    grid-template-columns: repeat(3, 3.2rem);
    grid-template-rows: repeat(4, 4.2rem);
    grid-gap: 4px;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.math-operators {
    display: grid;
    grid-template-columns: 3.2rem 3.2rem;
    grid-template-rows: repeat(4, 4.2rem);
    grid-gap: 4px;
}

.clear {
    background-color: rgb(221, 120, 140);
    color: whitesmoke;
}

.backspace {
    background-color: lightslategray;
    color: whitesmoke;
}
.equals {
    grid-column: 1 / span 2;
    background-color: aquamarine;
}
